.content {
    width: 1500px;
    height: 3000px;


}

/* Content-heading */

.content-heading {
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;

}

.heading-box {
    float: left;
    margin: 0 10px;
    border-bottom: 1px solid #ccc;
    transition: all 0.25s linear;

}

/* .content-heading .heading-box:hover{
    border: 3px solid rgb(0, 90, 156);
    border-radius: 10px;
    color: #fff;
} */

.content-heading .heading-box:hover {
    background-color: rgb(0, 90, 156);
    border-radius: 10px;
}
.content-heading .heading-box:hover a,
.content-heading .heading-box:hover p,
.content-heading .heading-box:hover i{
    border-radius: 10px;
    color: #fff;
}



.heading-box table {
    width: 400px;
    line-height: 1.5;
}

.heading-box .box-hd a {
    text-decoration: none;
    color: rgb(0, 90, 156);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.25s linear;
}

.heading-box .box-hd i {
    color: rgb(0, 90, 156);
    font-weight: bold;
    cursor: pointer;
}

.heading-box .box-tt a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: all 0.25s linear;
}

.heading-box .box-text {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    color: rgb(54, 54, 54);
    transition: all 0.25s linear;
}

.heading-box .box-img {
    width: 125px;
    border-radius: 5px;
}

/* Content-main */
.content-main {
    /* width: 1200px; */
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


/* Main-left */
.content-main > .main-left {
    width: 700px;
    box-shadow: 0 0 10px #ccc;
    border-bottom: 5px solid rgb(255, 111, 0);
    padding: 0 10px;
}

.main-left .heading {
    padding: 20px 0;
}

.main-left .box{
    margin-bottom: 40px;
}

.main-left .box-time {
    color:rgb(84, 84, 84);
    font-style: italic;
    padding: 5px 0;
} 

.main-left .box-heading {
    padding: 5px 0 10px 0;
}

.main-left .box-heading a {
    text-decoration: none;
    color: black;
}

.main-left .box-heading:hover a {
    color: rgb(0, 90, 156);
}

.main-left .box-img {
    width: 200px;
    border-radius: 5px;
}

.main-left .box-para {
    width: auto;
    padding: 5px;
    line-height: 1.6;
    font-size: 14px;
}

.main-left .box-btn {
    background-color: #ff9e03;
    color: #fff;
    width: 120px;
    padding: 10px;
    margin-left: 5px;
    border-radius: 3px;
    border: 0px;
    font-size: 14px;
    cursor: pointer;
}

.main-left .box-btn:hover {
    background-color: rgb(255, 111, 0);

}

.main-left .page-number {
    margin-bottom: -35px;
    margin-left: -10px;
}
.main-left .page-number .page {
    color: rgb(89, 88, 88);
    font-size: 18px;
    padding: 0 12px;
    text-decoration: none;
}

.main-left .page-number .page:hover {
    color: black;
}



/* Main right */

.main-right {
    width: 500px;
    margin-left: 20px;
}

.main-right .notifi {
    height: auto;
    box-shadow: 0 0 30px #cacaca;
    padding: 15px;
    border-bottom: 5px solid rgb(255, 196, 0);
    background-color: rgb(0, 90, 156);
}

.main-right .notifi h2 {
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 0;
    color: #fff;
}

.main-right .notifi-menu li{
    list-style: none;
    padding: 10px 0;
    text-align: justify;
    padding-right: 50px;
    padding-left: 20px;
    transition: all 0.2s linear;

}

.main-right .notifi-menu li a{
    text-decoration: none;
    color: rgb(64, 64, 64);
    line-height: 1.6;
    color: #fff;
}


.main-right .notifi-menu .ti-comment-alt {
    margin-right: 5px;
}

.main-right .notifi-menu li:hover  {
    color: #fff;
    background-color: rgb(255, 183, 0);

}

.main-right .notifi-button {
    margin-top: 10px;
    margin-left: 90%;
}

.main-right .notifi-button a {
    text-decoration: none;
    background-color: rgb(255, 183, 0);
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.main-right .notifi-button:hover .btn-left:hover,
.main-right .notifi-button:hover .btn-right:hover {
    background-color: rgb(255, 74, 74);
}










