#footer {
    width: 100%;
    height: 300px;
    background-color: rgb(0, 78, 134);
    margin-top: 50px;
}

.footer-info {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-info .box {
    margin: 30px 50px;
    display: block;
}

.box-title {
    color: #fff;
    margin: 10px 0;
}

.box ul {
    list-style: none;
}

.box li {
    padding: 10px 0;
    color: rgb(177, 175, 175);
}

.box li a {
    text-decoration: none;
    color: rgb(177, 175, 175);
}

.box li:hover, .box li:hover a {
    color: #fff;
}

.box:last-child li i {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 78, 134);
    padding: 5px;
    margin-right: 10px;
    border-radius: 3px;
}

.footer-location {
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer-location span {
    color: #fff;
}

.footer-copyright {
    width: 100%;
    height: 30px;
    background-color: rgb(0, 52, 149);
}

.footer-copyright p {
    color: rgba(255, 255, 255, 0.522);
    text-align: center;
    line-height: 30px;
}