* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;

}

.clear {
    clear: both;
}

#main {
    overflow: hidden;
}

#header {
    width: 100%;
    height: auto;
    background-color: rgb(0, 90, 156);
    display: block;
    padding-right: 50px;
}

/* Header-First -----------------------------------------*/

.header-first {
    max-width: 1300px;
    height: 75px;
    margin: 0 auto;
    border-bottom: 2px solid rgb(0, 75, 128);
}

/* Header-Logo -----------------------------------------*/

.header-logo {
    width: 650px;
    float: left;
}

.header-logo-img {
    padding: 5px 10px 5px 0;
    float: left;  
}

.header-logo-img img {
    width: 200px;
    padding: 5px 5px;
}

 #logo-student {
    width: 50px;
}

#logo-clb {
    width: 110px;
}

.header-logo-title {
    float: left;
    padding: 10px 5px;
    font-size: 20px;
}

.header-logo-title .logo-title {
    color: #fff;
    text-transform: uppercase;
    line-height: 50px;
}

/* Header-Login -----------------------------------------*/

.header-login {
    float:right;
    width: 140px;
    padding: 20px;
}

.header-login .ti-user {
    background-color: #fff;
    padding: 5px;
    color:rgb(0, 90, 156);
    border-radius: 100%;
}

.header-login button {
    background-color: #0379ff;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    transition: all 0.2s linear;
    border-radius: 5px;
    border: none;

}

.header-login button:hover {
    background-color: #ff9e03;
    border-radius: 5px;
    cursor: pointer;
}


/* Header-Navigation -----------------------------------------*/

.header-nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.header-nav .nav-menu {

}

.header-nav .nav-menu > li {
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    /* border-right: 1px solid rgba(20, 35, 169, 0.356); */
    position: relative;
    transition: all 0.2s linear;
}

.header-nav .nav-menu > li > a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-transform: uppercase;
}

.header-nav li:hover {
    background-color: #ff9e03;
    
}

.header-nav .sub-menu {
    position: absolute;
    width: 175px;
    height: auto;
    background-color:rgb(0, 90, 156);
    margin-top: 10px;
    left: 0;
    display: none;
}

.header-nav .sub-menu li {
    list-style: none;
    border-bottom: 1px solid rgba(1, 12, 103, 0.366);

}   

.header-nav .sub-menu li a {
    padding: 15px 10px;
    text-decoration: none;
    color: #fff;
    display: block;
    
}

.header-nav li:hover .sub-menu {
    display: block;
}


.header-nav .header-search {
    float:right;
    padding: 8px 10px;
} 

.header-nav .header-search input {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 20px;
    
}

.header-nav .header-search a {
    text-decoration: none;
    background-color: #fff;
    padding: 7px;
    font-size: 10px;
    border-radius: 10px;
}

.header-nav .header-search a:hover {
    background-color: rgb(255, 65, 65);
    color: #fff;
}

.header-nav li:first-child .ti-menu-alt {
    font-size: 14px;   
}







