.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    width: 900px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 5px;
}

/* Modal-close */
.modal-close {
    float: right;
    color: #fff;
    background-color: rgb(0, 61, 152);
    padding: 5px;
}

.modal-close:hover {
    background-color: rgb(255, 81, 81);
    cursor: pointer;
}

/* Modal-header */
.modal-header {
    width: 100%;
    height: 75px;
    background-color: rgb(0, 90, 156);
    color: #fff;
    text-align: center;
    line-height: 75px;
    font-size: 25px;
}

.modal-header i {
    margin-right: 20px;
}

/* Modal-body */
.modal-body {
    margin-top: 12px;
    padding-left: 20px;
}

.modal-label {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 95%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 24px;
}

#login {
    background-color: rgb(0, 90, 156);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 10px 10px;
}

.modal-footer {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
}